.container-card {
    display: flex;
    width: 12.5rem;
    height: 12.5rem;
    background: none;
    border-radius: 100px;
    justify-content: center;
    transition: all 0.5s;
}

.container-card:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}

.card {
    padding: 1rem;
}

.container-card .card h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.container-card .card .svg {
    color: var(--white);
    display: flex;
    margin: 0 auto;
    font-size: 3rem;
}

.container-card .card p {
    color: var(--text-color);
    display: flex;
    text-align: center;
    padding: 1rem 0;
    max-width: 15rem;
    width: 100%;
}

.container-card .card button {
    display: flex;
    margin: 2rem auto;
    background-color: var(--strong-green);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
}

.container-card .card a {
    text-decoration: none;
    color: var(--black);
    padding: 0.2rem 0.8rem;
    transition: all 0.5s;
}

.container-card .card a:hover {
    border-radius: 5px;
    background: var(--strong-green);
    box-shadow: 0px 0px 10px 1px rgba(0, 250, 121, 1);
    transition: all 0.5s;
}

@media (max-width: 428px) {
    .container-card .card h1 {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
        font-size: 1rem;
    }
}