.headerContainer {
    position: fixed;
    color: #fff;
    width: 100%;
    background: transparent;
    z-index: 2;
    transition: all 0.5s;
    height: 7rem;
}

.headerContainer.sticky {
    background: var(--black);
    box-shadow: var(--neon);
    transition: all 0.5s;
    z-index: 2;
    top: -0.1rem;
}

header .navContainer {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    height: 7rem;
    margin: 0 auto;
}

header .navContainer .center {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 64rem;
}

header .navContainer .center .list {
    display: flex;
    align-items: center;
    list-style: none;
}

header .navContainer .center .falseMenuMobile .list {
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navContainer .center .falseMenuMobile .list .item a {
    border-radius: 0;
    transition: 0.3;
    text-decoration: none;
    color: white;
}

header .navContainer .center .trueMenuMobile .list {
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navContainer .center .trueMenuMobile .list .item a {
    border-radius: 0;
    transition: 0.3;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.5s;
}

header .navContainer .center .trueMenuMobile .list .item a:hover {
    border-bottom: 1px solid var(--green);
    transition: all 0.5s;
    color: var(--white);
}

header .navContainer .center .list .item .btnMenuMobile {
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    color: #00b37c;
    background: none;
    font-size: 2rem;
}

header .navContainer .center .list .item .logo {
    width: 15rem;
}

/* media */
@media (max-width: 1250px) {
    header .navContainer .center .list {
        width: 100%;
        justify-content: space-between;
    }

    header .navContainer .center .list .item .btnMenuMobile {
        display: flex;
    }

    header .navContainer .center .falseMenuMobile {
        position: absolute;
        top: 75px;
        width: 100%;
        left: 1200px;
        transition: all 1.5s;
        padding: 1rem 0rem;
        border-radius: 0rem 0rem 1rem 1rem;
    }

    header .navContainer .center .falseMenuMobile .list {
        width: 100%;
    }

    header .navContainer .center .trueMenuMobile {
        position: absolute;
        top: 75px;
        width: 100%;
        left: 0px;
        transition: all 0.8s;
        padding: 1rem 0rem;
        border-radius: 5px;
        background: var(--input);
        box-shadow: var(--neon);
    }

    header .navContainer .center .trueMenuMobile .list {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    header .navContainer .center .list {
        padding: 0rem 10%;
    }

    header .navContainer .center {
        margin: 0 1rem 0 1rem;
    }
}

header .navContainer .center .trueMenuMobile {
    display: flex;
    right: 100rem;
}


@media (max-width: 500px) {
    .header-headerContainer .navContainer {
        margin: 0 auto;
        padding: 1rem 3.5rem;
    }
}


@media (max-width: 600px) {
    .header-container .wrap-navbar {
        margin: 0 auto;
        padding: 1rem 4rem;
    }
}

@media (max-width: 500px) {
    .header-headerContainer .navContainer {
        margin: 0 auto;
        padding: 1rem 3.5rem;
    }
}

/* Mobile */
@media (max-width: 450px) {
    .header-container .wrap-navbar {
        margin: 0 auto;
        padding: 1rem 2.5rem;
    }
}

/* Mobile */
@media (max-width: 400px) {
    .header-container .wrap-navbar {
        margin: 0 auto;
        padding: 1rem 1rem;
    }
}