.header-container {
    position: fixed;
    color: #fff;
    width: 100%;
    background: transparent;
    z-index: 2;
    transition: all 0.5s;
    padding: 1rem;
}

.header-container.sticky {
    background: var(--black);
    box-shadow: var(--neon);
    transition: all 0.5s;
    z-index: 2;
    top: -0.1rem;
}

.header-container .wrap-navbar {
    max-width: 64rem;
    margin: 0 auto;
    padding: 1rem 0;
}

.wrap-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    color: var(--green);
    font-size: 25px;
    cursor: pointer;
    display: none;    
}


.header-container .header-logo {
    cursor: pointer;
}

.header-menu ul {
    list-style-type: none;
    display: flex;
}

.header-menu ul li {
    margin-left: 2rem;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.5s;
    font-weight: bold;
}

.header-menu ul li:hover {
    border: 1px solid var(--green);
    border-radius: 5px;
    padding: 0.5rem;
    margin: -0.5rem;
    color: var(--green);
    transition: all 0.5s;
}

.header-menu ul li:hover:nth-child(2) {
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5rem;
    margin: -0.5rem;
    margin-left: 1.4rem;
    color: var(--green);
}

.header-menu ul li:hover:nth-child(3) {
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5rem;
    margin: -0.5rem;
    margin-left: 1.4rem;
    color: var(--green);
}

.header-menu ul li:hover:nth-child(4) {
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5rem;
    margin: -0.5rem;
    margin-left: 1.4rem;
    color: var(--green);
}

.header-menu ul li:hover:nth-child(5) {
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5rem;
    margin: -0.5rem;
    margin-left: 1.4rem;
    color: var(--green);
}

/* Mobile */
@media (max-width: 428px) {
    .header-container .header-menu {
        visibility: hidden;
    }

    .header-container .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 320px) {
    .header-container .header-logo {
        width: 8rem;
        margin-left: -1.9rem;
        margin-top: -2rem;
    }
}