.projects {
    padding: 15rem 0 5rem 0;
}

.projects .projects-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.projects .wrap .title::after {
    content: 'Aplicações WEB & Mobile';
}

.projects .left {
    margin-left: -4rem;
    width: 50%;
}

.projects .right {
    width: 50%;
    text-align: justify;
}

.projects .projects-content .text-title {
    font-size: 1.8rem;
    color: var(--green);
    font-weight: 500;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

.projects .projects-content .right p {
    color: var(--text-color);
}

/* Mobile */
@media (max-width: 428px) {
    .projects .wrap .title::after {
        font-size: 0.75rem;
        padding: 8px 7.8px;
    }

    .projects .left {
        display: flex;
        margin-left: -2.2rem;
        margin-top: -1.5rem;
        width: 100%;
    }

    .projects .left img {
        width: 25rem;
    }

    .projects .right {
        width: 100%;
        text-align: justify;
    }

    .projects .projects-content .text-title {
        margin-top: 2rem;
    }
}