.swiper {
    padding: 5rem;
    margin-top: 2rem;
    border-radius: 100px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-pagination-progressbar-fill {
    border: 2px solid var(--green);
}

.swiper-pagination.swiper-pagination-progressbar {
    top: inherit;
    bottom: 0;
    background-color: var(--text-color);
}

.swiper-button-prev {
    color: var(--green);
}

.swiper-button-next {
    color: var(--green);
}

h1 {
    color: var(--white);
}

/* Tablets */
@media (max-width: 884px) {
    .swiper {
        padding: 1rem;
        border-radius: 20px;
    }
}

@media (max-width: 834px) {
    .swiper {
        padding: 1rem;
        border-radius: 20px;
    }
}

@media (max-width: 800px) {
    .swiper {
        padding: 1rem;
        border-radius: 20px;
    }
}

@media (max-width: 768px) {
    .swiper {
        padding: 1rem;
        border-radius: 20px;
    }
}

@media (max-width: 631px) {
    .swiper {
        padding: 0.5rem;
        border-radius: 20px;
    }
}

@media (max-width: 616px) {
    .swiper {
        padding: 0rem;
        margin-top: 2rem;
        border-radius: 20px;
    }

}

/* Mobile */
@media (max-width: 428px) {
    .swiper {
        padding: 1rem;
        border-radius: 20px;
    }
}